li {
  list-style-type: none;
  color: rgb(0, 0, 75);
  text-decoration: none;
}
a {
  text-decoration: none;
}
body {
  background-color: rgb(0, 0, 0);
  color: white;
}
* {
  margin: 0;
  padding: 0;
}

header {
  margin-top: 30px;
  
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 70px;
}
a {
  color: white;
  font-size: 25px;
  cursor: pointer;
  text-shadow: 3px 3px 5px rgb(204, 0, 0);
  margin-right: 30px;
}
li {
  color: white;
  text-shadow: none;
  cursor: pointer;
  font-size: 20px;
}
li:hover {
  font-size: 25px;
  text-shadow: 4px 4px 5px rgb(255, 0, 0);
  transition: 1s;
}
.block {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
h1 {
  text-align: center;
  margin-top: 50px;
  text-shadow: 3px 3px 5px rgb(204, 0, 0);
  font-size: 40px;
}
input {
  padding: 5px 10px;
  margin-top: 30px ;

  background-color: white;
  border-radius: 15px;
  border: none;
  box-shadow: 2px 2px 6px rgb(255, 0, 0);
  cursor: pointer;
  font-size: 20px;
  text-shadow: 1px 1px 1px rgb(204, 0, 0);
}
.mr-20{
  margin: 20px;
}
input:hover {
  padding: 6px 11px;
  transition: 0, 5s;
}
.single-block {
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}
img {
  width: 400px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px red;
}
h3 {
  
  margin-top: 20px;
  font-size: 27px;
  text-shadow: 3px 3px 5px rgb(204, 0, 0);
}
b{
    font-size: 35px; 
    text-decoration: underline;
}

.logo{
  width: 150px;
  height: 75px;
  box-shadow: none;
}
